.centerSquare{
    height: 20vh;
    width: 30%;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}